{% extends 'home.html' %}
{% load static %}
{% block body %}
<h1 id='Poke-name' alt='pikachu'></h1>

<img id='Poke-img'>
<div id='dex-no'>#</div>
<div class='float-container'>
    <div class = 'float-child-1'>
        <div id='circle_container_1'>
        </div>
    </div>

    <div class = 'float-child-2'>
        <div id='circle_container_2'>
        </div>
    </div>
</div>

<div id='types'>

</div>
<div><br><br></div>
<div class='float-child'>
    <p id='height-head'>
    Height
    </p>
</div>
<div class='float-child'>
    <p id='weight-head'>
        Weight
    </p>
</div>

<div class='float-child'>
    <p id='height'></p>
</div>

<div class='float-child'>
    <p id='weight'></p>
</div>

<!-- <div><br><br><br><br></div> -->
<p id='Description-head'>Description</p>
<p id='Description'></p>

<div id='evolve'>

</div>

<script src="{% static 'pokemon.js' %}?{% now "U" %}""></script>

{% endblock body %}